<h1>Landmarks</h1>
<% @landmarks.each do |l| %>
  <h3><%= l.name %>: Estd. <%= l.year_completed %></h3>
  <% if l.figure_id != nil %>
    <p>- Dedicated to <%= l.figure.name %>: <%= l.figure.titles.collect{|title| title = title.name}.join(", ") %></p>
    <% end %>
  <% end %>
